/* --- Fonts --- */

/* IBM-Plex Mono */

@font-face {
    font-family: 'IBM-Plex-Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/IBM-Plex-Mono/IBMPlexMono-Regular.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Mono'), local('IBM-Plex-Mono'),
        url('../fonts/IBM-Plex-Mono/IBMPlexMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/IBM-Plex-Mono/IBMPlexMono-Regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/IBM-Plex-Mono/IBMPlexMono-Regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/IBM-Plex-Mono/IBMPlexMono-Regular.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
    font-family: 'IBM-Plex-Mono';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/IBM-Plex-Mono/IBMPlexMono-Italic.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Mono'), local('IBM-Plex-Mono'),
        url('../fonts/IBM-Plex-Mono/IBMPlexMono-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/IBM-Plex-Mono/IBMPlexMono-Italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/IBM-Plex-Mono/IBMPlexMono-Italic.woff') format('woff'), /* Modern Browsers */
        url('../fonts/IBM-Plex-Mono/IBMPlexMono-Italic.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
    font-family: 'IBM-Plex-Mono';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/IBM-Plex-Mono/IBMPlexMono-Bold.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Mono'), local('IBM-Plex-Mono'),
        url('../fonts/IBM-Plex-Mono/IBMPlexMono-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/IBM-Plex-Mono/IBMPlexMono-Bold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/IBM-Plex-Mono/IBMPlexMono-Bold.woff') format('woff'), /* Modern Browsers */
        url('../fonts/IBM-Plex-Mono/IBMPlexMono-Bold.ttf') format('truetype') /* Safari, Android, iOS */
}

@font-face {
    font-family: 'IBM-Plex-Mono';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/IBM-Plex-Mono/IBMPlexMono-BoldItalic.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Mono'), local('IBM-Plex-Mono'),
        url('../fonts/IBM-Plex-Mono/IBMPlexMono-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/IBM-Plex-Mono/IBMPlexMono-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/IBM-Plex-Mono/IBMPlexMono-BoldItalic.woff') format('woff'), /* Modern Browsers */
        url('../fonts/IBM-Plex-Mono/IBMPlexMono-BoldItalic.ttf') format('truetype') /* Safari, Android, iOS */
}

