body {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #404040;
    background: #FFF;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: center;

    position: relative;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 720px;
    padding: 0 20px;
}

.page-heading {
    margin: 2em 0 1em;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.jump-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  top: -20em;

  margin: 0;
  padding: 0;
}

.jump-menu a {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
}

.jump-menu a:focus {
  top: 20em;
}

hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: inherit;
    border-radius: 3px;
    border-top: 4px solid #404040;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

p, li {
    line-height: 1.5;
}

ul {
    padding-left: 2em;
}

a:links, a:visited {
    color: #0085a1;
    text-decoration: underline;
    text-decoration-skip-ink: auto;
}

a:hover {
    color: #34b3ce;
}

code {
    color: #c7254e;
    background-color: #f9f2f4;
}

.footer {
    margin-top: 2em;
    padding: 2em 0;
    border-top: 1px solid #ccc;
    font-size: 0.8em;
}

.credits {
    text-align: center;
}

/** Mobile */
@media only screen and (max-width: 720px) {
    .page-heading {
        font-size: 0.8em;
    }

    ul {
        padding-left: 1em;
    }
}
