/**
    Colors:
    yellow: #C77700
    light-grey: #f0f0f0;
    grey: #909090;
    dark-grey: #404040;
 */

* {
    box-sizing: border-box;
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1em;
    color: #404040;
    background: #f0f0f0;
    position: relative;
    margin: 0;
    padding: 0;
}

h1 { font-size: 4.2em; }

h1.heading-title {
    font-weight: 400;
    font-size: 6em;
}

h1.heading-title>img{
    display: inline;
    height: 1em;
    margin-right: 0.5em;
}

.bold {
    font-weight: bold;
}

h2 { font-size: 2.8em; }
h3 { font-size: 2em; }
h4 { font-size: 1.8em; }
p, li {
    font-size: 1.8rem;
    line-height: 1.6;
}
a {
    position: relative;
    color: #C77700;
}
a:hover { text-decoration: none; }

.container {
    margin: 0 auto;
    padding: 0 50px 20px;
    width: 100%;
    max-width: 920px;
    background: white;
}

.posts-heading,
.page-heading {
    font-weight: normal;
    text-align: center;
    font-family: "IBM Plex Mono" monospace;
}

.heading-title {
    margin: 0;
    padding: 30px 0;
    text-align: center;
}

.heading-subtitle {
    color: #A8A8A8;
}

.navbar {
    position: sticky;
    top: 0;
    margin: 0 -50px;
    max-width: calc(100% + 100px);
    padding: 5px 0;
    background-color: #f0f0f0;
    z-index: 1;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    padding: 0;
}

.navbar-nav li {
    margin: 0 20px;
    font-size: 2em;
    font-weight: 700;
    list-style-type: none;
}

.navbar-nav a {
    color: #404040;
    text-decoration: none;
}

.navbar-nav a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 11px;
    bottom: 5px;
    opacity: 0;
    border-bottom: 2px solid #404040;
    transition: all 200ms ease-in-out;
}

.navbar-nav a:hover::after {
    bottom: 0;
    opacity: 1;
}

.navbar-nav .active a::after,
.navbar-nav a:hover::after {
    bottom: -3px;
    opacity: 1;
}

.navbar-nav .active a {
    color: #C77700;
}
.navbar-nav .active a::after {
    border-color: #C77700;
}

.post-preview + .post-preview:before {
    content: "";
    display: block;
    border-top: 3px solid #C77700;
    width: 20%;
    margin: 30px auto;
}

.post-meta {
    margin-top: -20px;
    color: #909090;
    font-size: 1.3em;
}

code {
    padding: 1px 5px;
    color: #C77700;
    background-color: rgba(255, 217, 180, .4);
}

.disclaimer {
    margin: 0 -50px;
    padding: 15px 50px;
    max-width: none;
    color: #C77700;
    font-weight: bold;
    background-color: rgba(255, 217, 180, .4);
}

.jump-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    top: -20em;

    margin: 0;
    padding: 0;
}

.jump-menu a {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
}

.jump-menu a:focus {
    top: 20em;
}

/* Fix the header appearing under the sticky nav-bar when using a #anchor link */
.blog-post h2 {
    padding-top: 80px;
}
.blog-post * + h2 {
    margin-top: -60px;
}

.social-networks {
    font-size: 1.8em;
    font-weight: bold;
    color: #909090;
}

.theme-by {
    margin: 30px 0 10px;
    font-size: 1.5em;
}

.credits {
    text-align: center;
}

/** Mobile */
@media only screen and (max-width: 720px) {
    .page-heading {
        font-size: 0.6em;
    }
    .navbar-nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .navbar-nav li {
        margin: 10px;
        text-align: center;
    }
}

@media print {
    body {
        backgroud: none;
    }
    .container {
        max-width: 100%;
    }
    .navbar,
    footer {
        display: none;
    }
    a {
        color: #404040;
        text-decoration: none;
    }
}
