{{- if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (.Site.Params.comments)) }}
  {{- if .Site.Config.Services.Disqus.Shortname }}
    <div class="comments">
      <div id="disqus_thread"></div>
      <script>
        var disqus_config = function () {
          this.page.url = {{ .Permalink }};
          this.page.identifier = {{ .RelPermalink }};
        };
        (function () {
          var d = document, s = d.createElement('script');
          s.src = '//' + {{ .Site.Config.Services.Disqus.Shortname }} + '.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
  {{- end }}
{{- end }}