{{ partial "jump_menu.html" . }}
<div role="main" class="container">
    <header class="header-section">
        <div class="intro-header no-img">
            <div class="{{ .Type }}-heading{{ if .IsHome }} home-heading{{ end }}">
                <h1 class="heading-title"><img src="/PoingLeve.png" alt="" aria-hidden="true" />on<span class="bold">est</span>la.tech<span class="bold">/</span></h1>
            </div>
        </div>
    </header>
    {{ partial "nav" . }}

    {{ if eq .Type "post" }}
        {{ partial "post_meta.html" . }}
    {{ end }}

    {{ if and (eq .Type "publications") (eq .IsNode false) }}
        <p class="disclaimer">Ce texte est une contribution de signataires de l'appel, mais ne reflète pas forcément la vision de l'ensemble  des signataires du texte initial.</p>
    {{ end }}
