{{ partial "jump_menu.html" . }}
<div role="main" class="container">
    <header class="header-section">
        <div class="intro-header no-img">
            <div class="{{ .Type }}-heading{{ if .IsHome }} home-heading{{ end }}">
                <h1 class="heading-title"><img src="/PoingLeve.png" alt="" aria-hidden="true" />on<span class="bold">est</span>la.tech<span class="bold">/</span></h1>
            </div>
        </div>
    </header>
    {{ partial "nav" . }}

    {{ if eq .Type "post" }}
        {{ partial "post_meta.html" . }}
    {{ end }}

    <p class="disclaimer">Jeudi 19/01, toutes et tous en grève contre <a href="https://offensive.eco/la-reforme-des-retraites-a-venir-vers-toujours-plus-dinegalites-et-de-pauvrete/">la casse de nos retraites</a> !</p>
