<ul class="jump-menu">
  <li><a href="#appel-des-travailleuses-et-travailleurs-du-numrique-pour-une-autre-rforme-des-retraites">Aller au contenu principal</a></li>
  <li><a href="#signez-">Aller aux instructions de signature</a></li>
  <li><a href="#actrices-et-acteurs-du-numrique">Aller à la liste des personnes signataires</a></li>
  <li><a href="#organisations">Aller à la liste des organisations signataires</a></li>
  <li><a href="#-propos">À propos de cette pétition</a></li>
  <li><a href="#pour-aller-plus-loin">Pour aller plus loin</a></li>
</ul>
