{{ $section := .Site.GetPage "/publications" }}
{{ $hasPosts := gt (len $section.Data.Pages) 0 }}

<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="main-navbar">

      <ul class="nav navbar-nav navbar-right">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main.ByWeight }}
            {{ if and (ne .Identifier "page") (or (ne .Identifier "publications") $hasPosts) }}
            <li class="{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}">
                <a class="sidebar-nav-item" href="{{ if .Page }}{{ .Page.RelPermalink }}{{ else }}{{ .URL }}{{ end }}" title="{{ .Title }}">
                    {{ if eq .Identifier "publications" }}Publications{{ else }}{{ .Title }}{{ end }}
                </a>
            </li>
            {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
