<article class="post-preview">
    <h2 class="post-title">
        <a href="{{ .Permalink }}">
            {{ .Title }}
        </a>
    </h2>

    <p class="post-meta">
        {{ partial "post_meta.html" . }}
    </p>
    <div class="post-entry">
        {{ if .Truncated }}
            <p>
                {{ .Summary }}
                <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
            </p>
        {{ else }}
            {{ .Content }}
        {{ end }}
    </div>

    {{ if .Params.tags }}
    <div class="blog-tags">
        {{ range .Params.tags }}
        <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
        {{ end }}
    </div>
    {{ end }}

</article>
