{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
        <article class="post-preview">
          {{ with .Content }}
              {{.}}
          {{ end }}
      <h2>Signataires</h2>
      <h3>Actrices et acteurs du numérique</h3>
      <ul>
      {{ $headlessbundle := .Site.GetPage "signatures" }}
      {{ range ( $headlessbundle.Resources.ByType "page" ) }}
        <li>{{.Content | markdownify}}</li>
      {{ end }}
      </ul>


      {{ with .Site.GetPage "_organisations" }}
         {{.Content}}
      {{ end }}

      {{ with .Site.GetPage "_apropos" }}
         {{.Content}}
      {{ end }}
        </article>

  </div>

{{ end }}
